Qdialog#LoginDialog,#RegisterDialog{
background-color:rgb(255,255,255)
}

#user_label,#pass_label{
    colors:black;
}

#err_tip[state='normal']{
    color: green;
}
#err_tip[state='err']{
    color: red;
}
